<template>
  <div class="projects page">
    <div>
      <section class="hero is-medium is-info is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">Projects</h1>
            <h2 class="subtitle">A List of Projects TwoDex has Contributed to or have Made</h2>
          </div>
        </div>
      </section>
    </div>
    <div class="container">
      <div class="columns">
        <aside class="column is-2 is-narrow-mobile is-fullheight section">
          <p class="menu-label is-active">General</p>
          <ul class="menu-list">
            <li><router-link to="/projects">Overview</router-link></li>
          </ul>
          <p class="menu-label is-active">NPM</p>
          <ul class="menu-list">
            <li>
              <router-link to="/projects/cordclient">cordclient</router-link>
            </li>
            <li>
              <router-link to="/projects/hryra">hryra.js</router-link>
            </li>
            <li>
              <router-link to="/projects/betalogger">betalogger</router-link>
            </li>
          </ul>
          <p class="menu-label">Discord</p>
          <ul class="menu-list">
            <li>
              <router-link class="is-active is-info" disabled to="/projects/defymusic">defymusic</router-link>
            </li>
          </ul>
        </aside>
        <section class="column section">
          <h1 class="title">DefyMusic</h1>

          <br>

          <div class="message is-danger">
            <div class="message-body"> 
              <h1 class="title">Under Construction</h1>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>
