<template>
  <div class="404 page">
    <section class="hero is-warning is-fullheight-with-navbar is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Uh-oh</h1>
          <h2 class="subtitle">
            This page doesn't exist, Click
            <router-link to="/">here</router-link> to go home!
          </h2>
        </div>
      </div>
    </section>
  </div>
</template>