<template>
  <div class="about page">
    <h1>This is Also Nice.</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam doloribus sed, asperiores laborum commodi, impedit nemo amet aliquam cupiditate nobis voluptatum in laudantium debitis fuga! Quam ullam voluptatibus nesciunt dolore.</p>
  </div>
</template>
