<template>
  <div class="home page">
    <section class="hero is-fullheight-with-navbar is-dark is-bold">
      <div class="hero-body">
        <div class="container animated slideInLeft">
          <h1 class="title">TwoDex</h1>
          <div class="column is-two-thirds is-paddingless">
            <h2 class="subtitle">
              A cool subtitle I need to come up with later.
              <!-- A Group of people who like coding stuff, the "stuff" we create consists of things like discord bots,
              <a target="_blank" href="https://npmjs.com/">NPM</a> Packages, and some other shit that I can't think of lmao. -->
            </h2>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>