<template>
  <div class="testing">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-two-fifths">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">Embed Description</p>
              </header>
              <div class="card-content">
                <div
                  class="content"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">Actions</p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <button class="button is-light is-rounded is-success">
                    <span class="icon is-small">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>Save</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
export default Vue.extend({
  data() {
    return { accepted: false, smp: false };
  },
  methods: {
    invert() {
      this.accepted = !this.accepted;
    },
  },
});
</script>