<template>
  <div class="app page">
    <nav class="navbar is-spaced is-dark" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <router-link class="navbar-item company" to="/">TwoDex</router-link>
          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navToggle"
            v-on:click="toggleNav"
            v-bind:class="{ 'is-active': isActive }"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navToggle" class="navbar-menu" v-bind:class="{ 'is-active': isActive }">
          <div class="navbar-end">
            <router-link to="/" class="navbar-item">
              <span class="icon has-text-primary"><i class="fas fa-home"/></span>
              <span>Home</span>
            </router-link>
            <router-link to="/team" class="navbar-item">
              <span class="icon has-text-danger"><i class="fas fa-users"/></span>
              <span>Team</span>
            </router-link>
            <router-link to="/projects" class="navbar-item">
              <span class="icon has-text-info"><i class="fas fa-box"/></span>
              <span>Projects</span>
            </router-link>
          </div>
        </div>
      </div>
    </nav>
    <router-view />
    <footer class="footer is-dark">
      <div class="container">
        <div class="columns">
          <div
            class="column"
          >TwoDex © 2018 - {{ new Date().getFullYear() }} • Made with lots of ❤ by MeLike2D</div>
          <div class="column has-text-right">
            
            <a class="icon" target="_blank" href="https://teamtrees.org/" data-tooltip="#teamtrees">
              <i class="fas fa-tree" data-tooltip="#teamtrees"></i>
            </a>
            <a class="icon" target="_blank" href="/link?to=discord">
              <i class="fab fa-discord"></i>
            </a> 
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "app",
  data() {
    return {
      isActive: false,
    };
  },
  methods: {
    toggleNav() {
      this.isActive = !this.isActive;
    },
  },
});
</script>

<style lang="sass">
  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')
  @import "../node_modules/bulma/bulma.sass"
  @import "@/mq"

  .navbar-menu 
    animation: navAnimOpen .2s ease-in-out

  @keyframes navAnimOpen
    0% 
      display: none
      opacity: 0
      max-height: 0

    1% 
      display: block
      opacity: 0

    100% 
      opacity: 1
      max-height: 396px

  .company 
    font-family: "Montserrat"

  .footer 
    background-color: $dark
    color: $light

    .icon 
      color: $light
      margin-left: 20px

    .icon:hover
      transition: ease-in-out 0.5s
      color: $info

</style>